
# scripts to reproduce the analysis and figures from Bai et al., 2015
#
# originally by Ruben Garrido-Oter
# garridoo@mpipz.mpg.de

# maximum read length (100)
max_rd_len=
[LIB]
# average insert size (200)
avg_ins=
# if sequence needs to be reversed (0)
reverse_seq=0
# in which part(s) the reads are used (3)
asm_flags=3
# paired data files 
# q1=...read1.fastq 
# q2=...read2.fastq

